<!-- FOOTER -->
<footer id="footer" data-stellar-background-ratio="0.5">
    <div class="container" style="max-width: 1620px;">
        <div class="row">
            <div class="col-md-3 col-sm-8">
                <div class="footer-info">
                    <address class="wow fadeInUp" data-wow-delay="0.3s">
                        <img src="/images/logo.png" width="150px" alt="">
                    </address>
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.4s">360 Assessment, Consultation, and Training</h2>
                    </div>
                    <div class="wow fadeInUp copyright-text" data-wow-delay="0.4s">
                        <p>
                            Copyright &copy; 2020 <br> 360 A.C.T.
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-8">
                <div class="footer-info footer-open-hour">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay="0.2s">Open Hours and Location</h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-delay="0.4s" id="hoursLocation">
                    </div>
                </div>
            </div>

            <div class="col-md-5 col-sm-8">
                <section id="contact" data-stellar-background-ratio="0.5" style="padding-top: 15px">
                    <div class="section-title wow fadeInUp" style="padding:0 15px" data-wow-delay="0.6s">
                        <h2>Contact Us</h2>
                        <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                            <li><a href="https://goo.gl/maps/4zCco8KxwhqhsWha9" class="fa fa-home"></a></li>
                            <a href="https://goo.gl/maps/4zCco8KxwhqhsWha9">Location</a>
                            <li><a href="mailto:info360act@gmail.com" class="fa fa-envelope-o"></a></li>
                            <a href="mailto:info360act@gmail.com">info360act@gmail.com</a>
                        </ul>
                    </div>
                    <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form"
                        data-wow-delay="1s">

                        <h6 class="text-success">Your message has been sent successfully.</h6>

                        <h6 class="text-danger">E-mail must be valid and message must be
                            longer than 1 character.</h6>
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control" id="cf-name" name="name" placeholder="Full name"
                                style="color: whitesmoke !important;">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control" id="cf-email" name="email"
                                placeholder="Email address" style="color: whitesmoke !important;">
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <textarea class="form-control" rows="6" id="cf-message" name="message"
                                placeholder="Send us a message" style="color: whitesmoke !important;"></textarea>
                            <button type="submit" class="form-control" id="cf-submit" name="submit">Send
                                Message</button>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="alert">Email Entered</div>
                        </div>
                    </form>
                </section>
            </div>

        </div>
    </div>
</footer>
